SWIFTCOMMONS_FRAMEWORK_VERSION = 0.0.1
GCC_PREPROCESSOR_DEFINITIONS = SWIFTCOMMONS_FRAMEWORK_VERSION=@\"${SWIFTCOMMONS_FRAMEWORK_VERSION}\"
USER_HEADER_SEARCH_PATHS = "../Core.Abstractions/Module/**" "../Core.Concurrent/Module/**" "../Core.Diagnostics/Module/**" "../Core.Extensions/Module/**" "../Core.Lang/Module/**" "../Core.Logging/Module/**"
