CUSTOM_PRODUCT_NAME = SwiftCommonsLang
GCC_PREPROCESSOR_DEFINITIONS = SWIFTCOMMONS_FRAMEWORK_VERSION=@\"${SWIFTCOMMONS_FRAMEWORK_VERSION}\"
OTHER_LDFLAGS = -ObjC
PRODUCT_BUNDLE_IDENTIFIER = com.roxiemobile.$(TARGET_NAME:rfc1034identifier)
PRODUCT_NAME = $(CUSTOM_PRODUCT_NAME)
SWIFT_VERSION = 4.0
SWIFTCOMMONS_FRAMEWORK_VERSION = 1.1.0
TARGETED_DEVICE_FAMILY = 1,2
